@tailwind base;
@tailwind components;
@tailwind utilities; 

/* //importações OBS eu consigo fazer importações e criar variáveis sem SASS*/
@import './topo.css'; 


/* :root {

} */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* variáveis */
.btncont {
  background-color: darkgrey;
  border: solid 1px black;
  border-radius: 3px;
  height: 30px;
}